<h1>日记列表</h1>
<% if @result.nil? %>
    <%= '没有日记类型的博客！' %>
<%else%>
    <% @result.each do |article| %>
    <p>
        <%= article.title %><br>
        <%= article.text %>
    </p>
    <% end %>
<% end %>