 <%= stylesheet_link_tag "about.scss"  %>
 <div id="sHeader"></div>
  <div class="content">
    <h1>欢迎来到商汤博客</h1>
<h3><%= link_to '用户注册', users_register_path %>
<%= link_to '用户登陆', users_login_path %>

<%= link_to '用户列表', users_path %></h3>
    <p> <img src="/images/guanyuwomen.jpg" height="150" width="200" class="aboutimg" />
    SenseTime(商汤科技)通过研发多方面的顶尖视觉技术，赋予计算机
    视觉感知和认识能力，让计算机能像人与动物一样获取分析、理解各种
    视觉信息，并与自然界进行交互。我们在人脸识别、物体识别、
    图像搜索、智能监控领域，以原创技术领先全球<br />

    </p>
</div>